[Unit]
Description = The Jupyter Notebook Server
After = network.target remote-fs.target nss-lookup.target

[Service]
User = JUPYTER_SETUP_USER
ExecStart = JUPYTER_SETUP_STARTUP_SCRIPT start
ExecStop = JUPYTER_SETUP_STARTUP_SCRIPT stop

[Install]
WantedBy = multi-user.target
